<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanbit.cgv.mapper.Mapper">

	<select id="count" resultType="String" parameterType="com.hanbit.cgv.command.Command">
		select count(*) count from board
		</select>

	<select id="selectSome" resultType="map" parameterType="com.hanbit.cgv.command.Command">
		
		<choose>
			<when test="table eq 'movieChart'">
				select t.*,s.*,p.*,i.* from movie t join steelcut s on t.movie_seq=s.movie_seq join movie_picture p on t.movie_seq=p.movie_seq join movie_info i on t.movie_seq=i.movie_seq
			</when>
			<when test="table eq 'movieDetail'">
				select * from (select t.*,s.steelcut,p.poster,p.trailer,i.genre,i.movie_time,i.like_count,i.people_count,i.score,i.introduce,i.staff from movie t join steelcut s on t.movie_seq=s.movie_seq join movie_picture p on t.movie_seq=p.movie_seq join movie_info i on t.movie_seq=i.movie_seq) t where t.movie_seq=#{movieNum}
			</when>
			<when test="table eq 'comment'">
				select c.*,m.profile from ${table} c join member m on c.member_id=m.member_id
			</when>
			<otherwise>
				select * from ${table}
			</otherwise>
		</choose>
	</select>
	<select id="selectOne" resultType="map" parameterType="com.hanbit.cgv.command.Command">
		
		<choose>
			
			<when test="table eq 'movieDetail'">
				select * from (select t.*,s.steelcut,p.poster,p.trailer,i.genre,i.movie_time,i.like_count,i.people_count,i.score,i.introduce,i.staff from movie t join steelcut s on t.movie_seq=s.movie_seq join movie_picture p on t.movie_seq=p.movie_seq join movie_info i on t.movie_seq=i.movie_seq) t where t.movie_seq=#{movieNum}
			</when>
			<when test="table eq 'login'">
				select * from member where member_id=#{param.member_id} and pass=#{param.pass}
			</when>
			<otherwise>
				select * from ${table}
			</otherwise>
		</choose>
	</select>
	<insert id="insert" parameterType="com.hanbit.cgv.command.Command">
		<choose>
			<when test="${table} eq reservation">
				insert into reservation values(auto_increment,#{param.total_cost},#{param.advance_date},#{param.member_id},#{place_seq},#{theater_seq},#{schedule_seq},#{movie_seq})
			</when>		
		</choose>
	</insert>
</mapper>